/*!
 * Roots 6.5.2
 */

$bootstrap-sass-asset-helper: false;
@import "bootstrap/bootstrap";

/* ==========================================================================
   Base
   ========================================================================== */

body {
   background: #0a0a0a;
   font-family: 'Exo 2', sans-serif;
   font-weight: 300;
   color: white;
}

h1 {
   font-size: 2.2em;
   font-weight: 300;
   i {
      color: #90E0FF;
      margin-left: 5px;
   }
}

h2 {
   color: #90E0FF;
   font-size: 1.8em;
   margin-top: 10px;
   margin-bottom: 1em;
   font-weight: 500;   
}

h3 {
   color: #90E0FF;
   font-size: 1.3em;
   margin: 5px 0 1.2em;
   font-weight: 500;
}
h4{
  color: #90E0FF;
  font-size: 1.1em;
  font-weight: 600;
}
h5{
  color: white;
  font-size: 1em;
  font-weight: 600;
}

a {
   color: #f5e100;
   &:hover {
      text-decoration: none;
      color: #FFF7BA;
   }
}

p {
   line-height: 1.7em;
   margin-bottom: 30px;
}


/* ==========================================================================
   Header
   ========================================================================== */

header {
   position: relative;
   .container {
      position: relative;
      z-index: 9;
   }
   .row.navwrap {
      position: relative;
      background: #3f484f;
      background: rgba( 63, 72, 79, .89 );
      .col-lg-12 {
         padding: 0;
      }
   }
}

.banner {
   background: url('../img/interior_header.jpg') center center no-repeat;
   .overlay {
      background: rgba(125, 145, 162, .8 );
      width: 100%;
      min-height: 16em;
      border-bottom: 3px solid #feed01;
   }
}

a.brand {
   float: left;
   display: block;
   margin: 8px 0;
   padding-left: 15px;
}

.nav-main {
   float: right;
   ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
         float: left;
         overflow: hidden;
         a, span {
            font-size: 1.5em;
            display: block;
            padding: 66px 40px 10px;
            color: white;
            &:hover {
               text-decoration: none;
            }
         }
         b.caret {
            position: absolute;
            left: 50%;
            bottom: -15px;
            margin: 0 -15px;
            z-index: 9;
            border-left: 15px solid transparent;
            border-right: 15px solid transparent;
            border-top: 15px solid;
            z-index: 10;
         }
         &.ride {
            @include gradient-vertical( #4092d8, #3880bd );
            > a {
               background: url('../img/nav_sprite.png') 30px 10px no-repeat;
            }
            b.caret {
               border-top-color: #3880bd;
            }
            ul li a {
               color: #3880bd;  
            }
         }
         &.walk {
            @include gradient-vertical( #4da733, #43922d );
            > a {
               background: url('../img/nav_sprite.png') -90px 10px no-repeat;
            }
            b.caret {
               border-top-color: #43922d;
            }
            ul li a {
               color: #43922d;  
            }
         }
         &.maps {
            @include gradient-vertical( #efa300, #d18f00 );
            > a {
               background: url('../img/nav_sprite.png') -220px 10px no-repeat;
            }
            b.caret {
               border-top-color: #d18f00;
            }
            ul li a {
               color: #d18f00;  
            }
         }
         &.connect {
            @include gradient-vertical( #9e1be9, #8a18cc );
            > a {
               background: url('../img/nav_sprite.png') -354px 10px no-repeat;
               padding: 66px 30px 10px;
            }
            b.caret {
               border-top-color: #8a18cc;
            }
            ul li a {
               color: #8a18cc;  
            }
         }
         &.social {
            position: relative;
            .icons {
               position: absolute;
               top: 0;
               left: 0;
               padding: 11px 0 0 20px;
               a {
                  display: inline;
                  font-size: 3em;
                  padding: 0px 3px;
                  i {
                     &.fa-twitter {
                        color: #5db5ff;
                     }
                     &.fa-facebook {
                        color: #2093ff;
                     }
                  }
               }
            }
            span {
               font-size: 1em;
               padding: 74px 40px 0px;
            }
         }
         ul.sub-menu {
            position: absolute;
            background: white;
            background: rgba( 255, 255, 255, .94 );
            padding: 15px 0 5px;
            min-width: 230px;
            z-index: 9;
            li {
               float: none;
               a {
                  display: block;
                  padding: 5px 10px;
                  font-size: 1.2em;
                  font-weight: 400;
                  &:hover {
                     background: #9c9c9b;
                     color: white;
                  }
               }
            }
         }
         &:hover {
            overflow: visible;
         }
      }
   }
}

/* ==========================================================================
   Home Content
   ========================================================================== */

.home.page {
   .banner {
      height: 32em;
      background: none;
      border-bottom: 0px;
   }
}

.hero_wrap {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   ul {
      height: 32em;
      padding: 0;
      margin: 0;
      border-bottom: 3px solid #feed01;
      z-index: 0;
      overflow: visible !important;
      li {
         display: block;
         background-position: center center;
         background-repeat: no-repeat;
         background-size: cover;
         height: 445px;
         width: 100%;
      }
   }
   .hero_pager {
      position: absolute;
      bottom: 40px;
      margin: 0 auto;
      width: 100%;
      text-align: center;
      a {
         width: 12px;
         height: 12px;
         border-radius: 6px;
         background: #4e565c;
         display: inline-block;
         text-indent: -9999px;
         border: 1px solid white;
         margin: 0 3px;
         &.activeSlide {
            background: white;
            border: 1px solid #4e565c;
         }
      }
   }
}

.cta-bar {
   background: #3f484f;
   margin-top: 15.5em;
   font-size: 1.9em;
   line-height: 2.7em;
   padding: 0 0 0 30px;
   font-weight: 100;
   z-index: 9;
}

.home_row {
   &.miles {
      position: relative;
      background: #0f0f0f url('../img/bg_dots.png') center no-repeat;
      margin: 40px 0 0;
      padding: 15px 0 40px;
      min-height: 360px;
      span {
         display: block;
      }
      .counts {
         color: #82bae9;
         font-size: 2.4em;
         font-weight: 200;
         line-height: 1.4em;
         text-align: right;
         margin: 0 50px 0 0;
         display: inline-block;
         min-width: 170px;
      }
      .desc {
         position: relative;
         font-size: 1.2em;
         font-weight: 100;
         line-height: 2.8em;
         margin: 0;
         display: inline-block;
      }
   }
   &.updates {
      background: url('../img/bg_textured.jpg') repeat;
      padding: 50px 0;
      h1 {
         margin: 0 0 1em;
      }
      .wp-post-image {
         margin: 0 25px 25px 0;
         max-width: 227px;
         border: 2px solid white;
         border-radius: 2px;
      }
      time {
         color: #9d9d9d;
      }
      .left {
         padding-right: 35px;
         border-right: 1px solid #404040;
      }
      .right {
         padding-left: 35px;
         border-left: 1px solid #404040;
         margin: 0 1px 0 -1px;
         time {
            font-size: 1.35em;
            font-weight: 400;
            color: white;
         }
      }
   }
}

time.published{
  margin-bottom: 20px;
  font-size: 14px;
  display: inline-block;
}


.widget_em_widget{
  margin-bottom:40px;
  ul{
    list-style:none;
    padding-left:9px;
  }
  &>ul>li{
    margin-top:10px;
    padding-top:10px;
    a{
      font-size:17px;
      font-weight:300;
    }
    
    &:first-child{margin-top:0;padding-top:0;}
    
    &+li{
      border-top:1px dotted #888;
    }
  }

  h2{
    color:white;
    &:after{
      content:"\f073";
      font-family:"FontAwesome";
      color: #82bae9;
      margin-left:10px;
      
    }
  }
  
}

.upcoming-events-widget {
   h1 {
      margin: 0 0 1em;
   }
   time {
      font-size: 1.35em;
      font-weight: 400;
      color: white;
   }
}

.icon {
   position: absolute;
   width: 120px;
   height: 120px;
   background: url('../img/icon_sprite.png') no-repeat;
   &.bike {
      background-position: right -260px;
      top: 160px;
      left: 15px;
      width: 330px;
      line-height: 8em;
      font-size: 1.2em;
      font-weight: 200;
   }
   &.map {
      background-position: 5px 10px;
      top: 40px;
      left: 600px;
   }
   &.signs {
      background-position: 0 -125px;
      top: 155px;
      left: 420px;
   }
}


/* ==========================================================================
   Content
   ========================================================================== */
#reverser{
  position: absolute;
  background: white;
  color: black;
  padding: 7px 8px;
  border-radius: 0 0 3px 3px;
  border: solid #FFF7BA;
  border-width: 0px 3px 3px 3px;
  top: 0;
  right: 10px;
  
  &.reversed{
    color:white;
    background:black;
  }
}
.main-content {
   background: url("../img/bg_textured.jpg") repeat;
   padding: 4em 0 10em;
   position:relative;
   
   hr{clear:both;}
   
   &.reversed{
    background-image:none;
    background-color:white;
    color:black;
    
    h1,h2,h3,h4,h5,h6{
      color:#DD8B0F;
    }
    hr{
      border-top: 1px solid #333;
       
    }
    
    a{
      color:#4092d8;
      &:hover{
        color: darken(#4092d8,10);
      }
    }
    
    label, label.gfield_label{
      color:black;
    }
    
    .cta-widget{
      color:white;
      h1,h2,h3,h4,h5,h6{
        a{
          color: #f5e100;
        }
      }
    }
   }
}

.breadcrumbs {
   line-height: 1.6em;
   font-size: 3.3em;
   padding: .5em 0 .5em 10px;
   font-weight: 200;
   i {
      font-size: .8em;
      margin: 0 .4em;
   }
}

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

.main {
   padding-right: 6em;
   border-right: 1px solid #404040;
   font-size: 1.2em;
   
  ol li, ul li{
    margin-bottom:20px;
  }
  
  img, .wp-caption{
    max-width:100%;
  }
}

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


/* Gravity Forms */
.gform_wrapper input, .gform_wrapper textarea {
   color: black;
}

.gform_wrapper .gfield_required {
   color: #f5e100;
}

.gform_wrapper li.gfield.gfield_error, .gform_wrapper li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
   background-color: transparent;
   border-top: none;
   border-bottom: none;
   border-left: 3px solid #f5e100;
}

.gform_wrapper .gfield_error .gfield_label {
   color: white;
}

.gform_wrapper li.gfield_error div.ginput_complex.ginput_container label, .gform_wrapper li.gfield_error ul.gfield_checkbox, .gform_wrapper li.gfield_error ul.gfield_radio {
   color: white;
}

.gform_wrapper .validation_message {
   color: #f5e100;
}

.gform_wrapper div.validation_error {
   color: #FFB3B3;
   background: rgba( 255,255,255,.3 );
   padding: 6px 10px;
}

.gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
   font-size: .9em;
   padding: 2px;
}

.gform_wrapper textarea {
   font-size: .9em;
   padding: 4px 2px 4px 2px;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
   background: #6c6c6c;
   color: #fded01;
   text-shadow: 1px 1px 2px #000;
   border: none;
   border-radius: 2px;
   padding: 7px 28px;
   font-size: 1.1em;
   margin-bottom: 15px;
   transition: all .2s ease-in;
   &:hover {
      color: #333;
      background-color: #ebebeb;
      border-color: #adadad;
   }
}

.gfield_select{
  color: black;
  font-size: 15px;
}


/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar {
   padding-left: 35px;
   border-left: 1px solid #404040;
   margin: 0 1px 0 -1px;
   .cta-widget {
      background: #424242;
      border-radius: 3px;
      padding: 10px;
      min-height: 106px;
      margin: 10px 4em 2em 0;
      .icon {
         position: relative;
         top: auto;
         left: auto;
         float: left;
         width: 85px;
         height: 85px;
         background-size: 85px;
         background-position: left -184px;
      }
      h3 {
         margin: 20px 0px 0 100px;
         letter-spacing: .7px;
         font-weight: 300;
         line-height: 1.3em;
      }
      p {
         margin: 0 0 0 100px;
         letter-spacing: .3px;
         font-weight: 300;
      }
      &.trails {
         h3 {
            margin-top: 7px;
         }
         .icon {
            background-position: left -284px;
         }
         margin-bottom: 4em;
      }
   }
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }

h2.entry-title{
  margin-bottom:.5em;
}

article + article{
  margin-top:45px;
}



/* ==========================================================================
   Footer
   ========================================================================== */

.content-info {
   .alertbar {
      padding: 1.5em 0 2em;
      h1 {
         font-size: 1.8em;
      }
      p {
         font-size: 1.4em;
      }
      .btn {
         margin: 57px 30px 0 0;
      }
      .right {
         text-align: right;
      }
   }

   .footer-sitemap {
      margin: 0 0 40px;
      .col-five {
         border-top: 1px solid #3b3b3b;
         float: left;
         width: 20%;
         padding: 40px 20px 0 0;
         > p {
            font-weight: 400;
         }
         ul {
            padding: 0;
            margin: 20px 0 0;
            list-style-type: none;
            li {
               margin: 10px 0;
            }
         }
      }      
   }

}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


.aligncenter { display: block; margin: 30px auto; }
.alignleft { float: left; margin: 0 30px 30px 0; }
.alignright { float: right; margin: 0 0px 30px 30px; }


/* ==========================================================================
   BootStrap overrides and extending
   ========================================================================== */

.btn {
   transition: all .2s ease-in;
}

.btn-xl, .btn-group-xl>.btn {
   padding: 0 46px;
   font-size: .9em;
   line-height: 3em;
}

.btn-lg, .btn-group-lg>.btn {
   padding: 10px 38px;
}

.btn-primary {
   background: #f6de06;
   border: none;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.0);
   border-radius: 0;
}

.btn-default {
   background: #6c6c6c;
   color: #fded01;
   text-shadow: 1px 1px 2px rgba(0, 0, 0, 1.0);
   border: none;
   border-radius: 2px;
   padding: 7px 28px;
   font-size: 1.3em;
   margin-bottom: 15px;
}

.small {
   line-height: 1.3em;
}

table.events-table{
  margin-bottom:15px;
  
  td,th{
    padding: 10px 0px;
    border-top:1px solid #666;
  }
}
.em-pagination a{padding:4px;}
.em-search-wrapper{color:#333;}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 500px) {
   .home_row.miles .counts, .home_row.miles .desc {
      display: block;
      text-align: center;
      margin: 10px 0 0;
   }
   .home_row.miles .desc {
      margin: 0 0 10px;
      line-height: 1.2em;
   }
}

@media (max-width: $screen-xs-max) {
   .content-info .footer-sitemap .col-five {
      float: none;
      width: auto;
      border: none;
      padding-top: 10px;
      &:first-child {
         border-top: 1px solid #3b3b3b;
      }
   }


   .home.page {
      .banner {
         height: auto;
      }
   }

   .banner {
      height: auto;
      background: none;
      .overlay {
         min-height: auto;
      }
   }

   h1 {
      text-align: center;
   }

   a.brand {
      float: none;
      text-align: center;
      padding: 0;
      img {
         max-width: 90%;
      }
   }

   .hero_wrap {
      display: none;
   }

   .home_row.miles {
      margin: 20px 0 0;
   }

   .icon.map, .icon.signs {
      display: none;
   }

   .icon.bike {
      position: relative;
      top: auto;
      left: auto;
      background-position: center -260px;
      line-height: 16em;
      width: 195px;
      margin: 0 auto 40px;
   }

   .home_row.updates .right, .home_row.updates .left {
      padding-left: 15px;
      padding-right: 15px;
   }
   .home_row.updates .left {
      margin-bottom: 40px;
      .wp-post-image {
         display: block;
         margin: 0 auto 25px;
         float: none !important;
      }
   }

   .content-info .alertbar .right {
      text-align: center;
      .btn {
         margin: 15px 0 0 0;
      }
   }

   .nav-main {
      float: none;
      ul li {
         display: block;
         float: none;
         a, span {
            padding: 10px 20px;
         }
         &.ride, &.walk, &.maps, &.connect {
            >a {
               padding: 10px 20px;
               background: none;
            }
            b.caret {
               border-top-color: white;
            }
         }
         &.social {
            display: none;
         }
         b.caret {
            bottom: auto;
            top: 22px;
            right: 35px;
            font-size: 20px;
            left: auto;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid;
         }
         &.open ul.sub-menu {
            display: block;
         }
         ul.sub-menu {
            display: none;
            position: relative;
            width: 100%;
            padding: 10px 0 5px;
            li a {
               padding: 5px 25px;
            }
         }
      }
   }

   .main-content {
      padding: 2.7em 0;
   }
   .main {
      padding-right: 15px;
      padding-bottom: 2em;
   }
   .sidebar {
      padding-left: 15px;
      .cta-widget {
         margin: 10px auto 2em;
         max-width: 320px;
      }
   }
   .breadcrumbs {
      line-height: 1em;
   }

}

@media (max-width: $screen-sm-max) {

   h1 {
      font-size: 1.8em;
   }
   h2 {
      font-size: 1.5em;
   }
   p {
      font-size: 1em;
   }

   .cta-bar {
      font-size: 1.6em;
      margin-top: 18.5em;
   }

   .content-info .alertbar p {
      font-size: 1.2em;
   }

   a.brand img {
      margin-top: 5px;
   }

   .breadcrumbs {
      font-size: 2.5em;
   }

   .banner .overlay {
      min-height: 12.3em;
   }
   
   .main{
    border-right:none;
   }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

   a.brand img {
      max-width: 300px;
   }

   .nav-main {
      ul li {
         &.connect, &.social, &.walk, &.ride, &.maps {
            >a, span {
               padding: 50px 19px 5px;
               background-size: auto 35px;
               font-size: 1.2em;
            }
         }
         &.ride >a {
            background-position: 15px 10px;
         }
         &.walk >a {
            background-position: -65px 10px;
         }
         &.maps >a {
            background-position: -155px 10px;
         }
         &.connect >a {
            background-position: -235px 10px;
         }
         &.social {
            .icons {
               padding: 11px 0 0 15px;
               a {
                  font-size: 2em;
               }
            }
         }
         b.caret {
            bottom: -10px;
            margin: 0 -10px;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid;
         }
         ul.sub-menu {
            width: 194px;
            min-width: inherit;
            li a {
               font-size: 1em;
            }
         }
      }
   }

   .main {
      padding-right: 20px;
   }

   .sidebar {
      padding-left: 20px;
      padding-right: 0;
   }

   .content-info .alertbar .btn {
      margin: 57px 17px 0 0;
   }

}

@media (min-width: $screen-sm-min) and (max-width: $screen-md-max) {

   .icon {
      background-size: 90px;
      height: 100px;
      width: 100px;
      &.bike {
         left: 435px;
         top: 260px;
         line-height: 6em;
         background-position: right -195px;
         width: 300px;
         z-index: 9;
      }
      &.map {
         top: 50px;
         left: 550px;
      }
      &.signs {
         bottom: 50px;
         left: 410px;
         background-position: 0 -94px;
      }
   }

   .home_row.updates .left, .home_row.updates .right {
      border: none;
      padding-left: 15px;
      padding-right: 15px;
   }
   .home_row.updates .left {
      margin-bottom: 40px;
   }

   .updates .event-row {
      float: left;
      width: 33.3%;
   }

   .sidebar {
      .cta-widget, .cta-widget.trails {
         margin-right: 0;
         h3 {
            margin-top: 0;
         }
      }
   }

}


@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
   .icon {
      &.bike {
         left: 15px;
         top: 160px;
      }
   }

   .nav-main ul li {
      a, span {
         padding: 61px 30px 5px;
      }
      &.ride >a {
         background-position: 20px 10px;
      }
      &.walk >a {
         background-position: -100px 10px;
      }
      &.maps >a {
         background-position: -230px 10px;
      }
      &.connect >a {
         background-position: -364px 10px;
         padding: 61px 20px 5px;
      }
      &.social {
         .icons {
            padding: 11px 0 0 10px;
            a {
               padding-left: 0;
            }
         }
         span {
            padding: 69px 30px 0px;
         }
      }
   }

   .brand img {
      max-width: 370px;
      margin-top: 5px;
   }

   .sidebar {
      padding-right: 5px;
   }

}

@media (min-width: $screen-lg-min) { }
